<div>
    <h4>Food Data</h4>
    <div class="row">
<div *ngFor="let d of foodDispaly" class="col-lg-3 mt-3 mb-3">
<div class="box">
    <img src="{{d.urlToImage}}" width="100%">
    <h5 class="mt-2 mb-2">{{d.title}}</h5>
</div>
</div>
    </div>
</div>

<p>
    Image/Video Preview
  </p>
  
  <img [src]="url" *ngIf="format==='image' && url" height="200"> <br/>
  <video [src]="url" *ngIf="format==='video' && url" height="200" controls></video> <br/>
  <input type='file' (change)="onSelectFile($event)" />
  
    
        <!-- <p>
            Image/video Preview
        </p>
    

    <img [src]="url" *ngIf="format==='image' && url" height="200"> <br/>
    <video [src]="url" *ngIf="format==='video' && url" height="200" controls></video> <br/>
    <input type="file"(change)="onSelectFile($event)" /> -->
  