<div class="container">
  <div class="row">
  <div class="col-md-6">
  <div class="card">
      <div class="text-center">
  <h1>Login Form</h1>
      </div>
      <form [formGroup]="logform">
          <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input type="text" formControlName="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
          <div class="mb-3">
            <label for="exampleInputEmail1"  class="form-label">Email address</label>
            <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password"  formControlName="password" class="form-control" id="exampleInputPassword1">
          </div>
  
          <button type="submit" class="btn btn-primary" (click)="log()" >Submit</button>
        </form>
        <a style="color:blue; margin-top: 10px" routerLink="/logregister">New User ? Click to register !</a>
  
  </div>
  </div>
  </div>
  </div>